body {font-family: Arial, Helvetica, sans-serif;}

.alert {
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    z-index: 99;
    width: 50%;
    display: inline-block;
    text-align: center;
    top: 10%;
    left: 23%;
    position: fixed;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* Full-width input fields */
input[type=text],[type=number],[type=password],[type=list], select {
    width: 100%;
    height: 35px;
    padding: 5px 25px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.savebutton {
  width: 100px;
  height:15px;
  float: auto;
  background-color: #4CAF50;
  color: white;
  text-align:center;
  line-height: 0;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
}

.savebutton2 {
  width: 100px;
  height:15px;
  float: auto;
  background-color: #FFFF00;
  color: white;
  line-height: 0;
  text-align:center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 40px;
}

.savebutton:hover {
    opacity: 0.5;
}

.savebutton2:hover {
    opacity: 0.5;
}

/* Set a style for all buttons */
button {
    background-color: #FFA500;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

input[type="file"] {
    display: block;
}

/* Center the image and position the close button */
.top-line {
    /*width: 100%; */
    height: 2px;
    background-color: #FFA500;
}

.bottom-line {
    /*width: 100%; */
    background-color: rgb(255,102,0);
    padding-top: 60px;
    border: 1px solid black;
}

.label-font {
    font-family: Segoe UI Light;
    font-size: 16px;
    text-decoration: none;
    padding: 0 10px 0 15px;
    float: left;
    line-height: 75px;
}

.text-font {
    font-family: Segoe UI Light;
    font-size: 16px;
    text-decoration: none;
}

.imgcontainer {
    text-align: left;
    position: relative;
    padding: 5px;
}

.avatar {
    width: 70px;
    border-radius: 20%;
    float: left;

}

.picture {
    width: 100px;
    border-radius: 10%;

}

span.psw {
    float: right;
    padding-top: 16px;
}
